{% extends 'base.html' %}
{% load static %}

{% block page_title %}
Home
{% endblock page_title %}

{% block link_1 %}active{% endblock link_1 %}

{% block css %}
<link rel="stylesheet" href="{% static 'trips/index.css' %}">
{% endblock css %}

{% block content %}
<main id="home-con">
  <div class="container">
    <h1 class="text-uppercase fw-bold">This is the home page</h1>
    <p class="lead">To view the website. Login first.</p>

    {% if not user.is_authenticated %}
    <button class="btn btn-primary btn-lg" type="submit">
      <a class="text-light link-underline link-underline-opacity-0" href="{% url 'login' %}">Please Login</a>
    </button>
    {% else %}
      <a class="btn btn-outline-primary mt-5" href="{% url 'trips-list' %}"><h4 class="m-0 px-2 py-1">Manage your Trips</h4></a>
    {% endif %}
  </div>

</main>

{% endblock content %}