{% extends 'base.html' %}

{% block page_title %}All Notes{% endblock page_title %}

{% block link_3 %}active{% endblock link_3 %}

{% block content %}
<div class="container mt-5">
  <h1>Note Memorabilia</h1>
  <p>Hi {{user.username|title}}, you can manage your notes in here.</p>

  <div class="row mt-5 p-5">

    {% for note in object_list %}
    <div class="col-6 col-md-4 col-lg-3">
      <a class="link-underline link-underline-opacity-0" href="{% url 'note-detail' note.pk %}">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{ note.name }}</h2>
            <h5 class="card-subtitle mb-3 text-body-secondary">{{ note.rating }}</h5>
            <img class="img-fluid rounded" src="{{note.img.url}}" alt="{{note.name}}">
          </div>
        </div>
      </a>
    </div>
    {% endfor %}

  </div>

</div>
{% endblock content %}