{% extends 'base.html' %}

{% block page_title %}All Trips{% endblock page_title %}

{% block content %}

  {% if user.is_authenticated %}
    <p>You've logged in as {{ user.username }}</p>
    <a href="{% url 'logout' %}">Logout</a>
  {% else %}
    <a href="{% url 'login' %}">Please login</a>
  {% endif %}

  <h1>All the trips I made</h1>
  <ul>
    {% for trip in trips %}
      <li><a href="{% url 'trip-detail' trip.id %}">{{ trip.country_code }} | {{ trip.city }}</a></li>
    {% endfor %}
  </ul>

  <div>
    <a href="{% url 'create-trip' %}" target="_blank">Create Trip</a>
    <a href="{% url 'note-list' %}" target="_blank">All my Notes</a>
  </div>
{% endblock content %}